body{
    font-family: 'Roboto', sans-serif;
}
.carousel-caption{
 
}
.toast-style{
    position: absolute;
    right: 10px;
}
.toast-img img{
    width:30px;
    height: 30px;
}
.our-package{
    margin-bottom: 100px;
}
.popular{
    background-color: #3F87F5;
    color: white;
    transform: scale(1.1);
}
.hot-button{
    position: absolute;
    top: 0%;
    right: 10%;
    display: inline;
}
.app-logo img{
    height: 50px;
    width: 135px;
}
.detail-icon{
    font-size: 50px;
}